.color-clases{
    color:$color-letras ;
    font-family: 'Roboto', sans-serif;
}
.color-funcional{
    color:$color-letras ;
    font-family: 'Roboto', sans-serif;
}
.color-tienda{
    color: $color-letras;
    font-family: 'Roboto', sans-serif;
}
.color-home{
    color:$color-letras ;
    font-family: 'Roboto', sans-serif;
    
}