.menu-color {
  background-color: #233E62; }

a:hover {
  background-color: #A9D050; }

.footer {
  background-color: #233E62;
  color: whitesmoke;
  text-align: center; }

.color-clases {
  color: whitesmoke; }

.color-funcional {
  color: whitesmoke; }

.color-tienda {
  color: whitesmoke; }

.color-home {
  color: whitesmoke; }
