nav {
  background-color: #233E62; }
  nav a {
    color: whitesmoke; }
    nav a:hover {
      background-color: #A9D050; }

.footer {
  background-color: #233E62;
  color: whitesmoke;
  text-align: center; }
